In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
excel_df = pd.read_excel('../data/interview_test.xlsx', sheet_name='DATA',skiprows=2)

In [15]:
excel_df.columns

Index(['ANA', 'Prime Item Desc', '201652 EPOS Sales', '201701 EPOS Sales',
       '201702 EPOS Sales', '201703 EPOS Sales', '201704 EPOS Sales',
       '201705 EPOS Sales', '201706 EPOS Sales', '201707 EPOS Sales',
       ...
       '201742 Selling Price', '201743 Selling Price', '201744 Selling Price',
       '201745 Selling Price', '201746 Selling Price', '201747 Selling Price',
       '201748 Selling Price', '201749 Selling Price', '201750 Selling Price',
       '201751 Selling Price'],
      dtype='object', length=158)

In [19]:
excel_df['201702 EPOS Sales']

0      12091.36
1       8038.86
2       5358.91
3      24629.94
4       4959.26
5       6112.50
6       5654.30
7      35478.01
8       2028.33
9      21404.70
10      1622.60
11     13256.48
12         0.00
13         0.00
14      1237.32
15         0.00
16         0.00
17      1283.50
18      2225.64
19     20599.88
20     12351.70
21      4657.17
22     82862.00
23      4607.83
24       949.11
25     26555.66
26      1230.24
27      1376.89
28      8915.84
29         0.00
         ...
74      2399.00
75     11329.35
76     22030.06
77     33857.48
78      3148.87
79      6192.89
80     16276.99
81      6087.95
82     28622.67
83      1010.80
84      1559.02
85      3999.37
86     11621.28
87       952.50
88      4789.50
89      2757.62
90     19818.74
91      2380.36
92      2354.16
93      3208.69
94      1688.34
95      9387.71
96      5696.85
97      4585.68
98      3337.29
99     19069.62
100    36701.57
101     1292.42
102    10510.01
103      467.37
Name: 201702 EPOS Sales, Length: 104, dtype: float64

In [22]:
excel_df.T.head(5)

,0,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,101,102,103
ANA,1,2,3,4,5,6,7,8,9,10,...,95,96,97,98,99,100,101,102,103,104
Prime Item Desc,PRODUCT A,PRODUCT B,PRODUCT C,PRODUCT D,PRODUCT E,PRODUCT F,PRODUCT G,PRODUCT H,PRODUCT I,PRODUCT J,...,PRODUCT QQQQ,PRODUCT RRRR,PRODUCT SSSS,PRODUCT TTTT,PRODUCT UUUU,PRODUCT VVVV,PRODUCT WWWW,PRODUCT XXXX,PRODUCT YYYY,PRODUCT ZZZZ
201652 EPOS Sales,12398.5,6931.45,5174.89,10614.8,4538.17,5058.13,5336.59,34732.2,4941.56,16083.2,...,1756.65,9513.72,5417.3,3985.36,3337.36,9841.91,18395,1173.24,9714.15,3731.21
201701 EPOS Sales,12297.4,7489.27,5275.8,11422.4,5331.51,6310.83,5649.14,37241.2,2331.31,19644.4,...,1676.81,9221.46,5516.28,4537.57,3216.1,18791.4,31845.7,1214.3,10123.8,581.56
201702 EPOS Sales,12091.4,8038.86,5358.91,24629.9,4959.26,6112.5,5654.3,35478,2028.33,21404.7,...,1688.34,9387.71,5696.85,4585.68,3337.29,19069.6,36701.6,1292.42,10510,467.37

In [ ]:
Split column into 201652 / other
Convert to datetime pd.to_datetime(df.week.map(lambda x: str(x)+'-0'), format="%Y%W-%w"